.restaurant-container {
  margin-top: 20px;
}

.restaurant-card
{
  padding: 20px 10px;
  border-bottom: 1px solid gray;
  display: flex;
}

.restaurant-card img{
  margin-right: 20px;
  border-radius: 10px;
}

.restaurant-name {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
.city-name {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}
.address-name {
  display: block;
  font-size: 18px;
  margin-bottom: 6px; 
}

.dollar {
  font-size: 50px;
}
.dark-dollar {
  color: darkgreen;
}
.light-dollar {
  color: lightgray;
}