.restaurant-container {
  margin-top: 20px;
}

.restaurant-card
{
  padding: 20px 20px;
  border: 2px solid lightgray;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  margin: 16px 10px;
}

.restaurant-card img{
  margin-right: 20px;
  border-radius: 10px;
}

.restaurant-name {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
.city-name {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}
.address-name {
  display: block;
  font-size: 18px;
  margin-bottom: 6px; 
}

.dollar {
  font-size: 50px;
}
.dark-dollar {
  color: darkgreen;
}
.light-dollar {
  color: lightgray;
}