.navBar-container{
  top: 0;
  position: sticky;
  z-index: 10;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  background-color: white;
}

.navBar{
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

nav{
  display: flex;
  padding: 20px 0;

}