.outer-container{
  width: 100%;
}

.container{
  text-align: left;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
